<section class="hero-container">
  <header class="hero-nav">
    <button class="nav-btn-search" (click)="handleSearch()">Search for places</button>
    <button class="nav-btn-current-location" (click)="handleCurrentLocation()">
      <img src="../../../assets/location.png" alt="location" width="25px">
    </button>
  </header>
  <div class="current-weather-container">
    <img [src]="weatherMain.icon" alt="icon" width="160px" height="160px" *ngIf="!isLoading">
    <ngx-skeleton-loader
      *ngIf="isLoading"
      count="1"
      appearance="circle"
      animation="pulse"
      [theme]="{
        'width': '140px',
        'height': '140px',
        'background': '#6E707A'
      }"
    >
    </ngx-skeleton-loader>
    <h2 class="temperature-h2" *ngIf="!isLoading">{{weatherMain.temp | decimal}}<span>°C</span></h2>
    <ngx-skeleton-loader
      *ngIf="isLoading"
      count="1"
      appearance="line"
      animation="pulse"
      [theme]="{
        'width': '258px',
        'height': '100px',
        'border-radius': '0px',
        'background': '#6E707A'
      }"
    >
    </ngx-skeleton-loader>
    <p class="temperature-description" *ngIf="!isLoading">{{weatherMain.description}}</p>
    <ngx-skeleton-loader
      *ngIf="isLoading"
      count="1"
      appearance="line"
      animation="pulse"
      [theme]="{
        'width': '258px',
        'height': '35px',
        'border-radius': '0px',
        'background': '#6E707A'
      }"
    >
    </ngx-skeleton-loader>
    <p class="date" *ngIf="!isLoading">Today • {{weatherMain.date | date:'EEE, d MMM'}}</p>
    <ngx-skeleton-loader
      *ngIf="isLoading"
      count="1"
      appearance="line"
      animation="pulse"
      [theme]="{
        'width': '258px',
        'height': '20px',
        'border-radius': '0px',
        'background': '#6E707A'
      }"
    >
    </ngx-skeleton-loader>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1_275)">
          <path d="M12 2C8.13 2 5 5.13 5 9C5 13.17 9.42 18.92 11.24 21.11C11.64 21.59 12.37 21.59 12.77 21.11C14.58 18.92 19 13.17 19 9C19 5.13 15.87 2 12 2ZM12 11.5C10.62 11.5 9.5 10.38 9.5 9C9.5 7.62 10.62 6.5 12 6.5C13.38 6.5 14.5 7.62 14.5 9C14.5 10.38 13.38 11.5 12 11.5Z" fill="#88869D"/>
        </g>
        <defs>
          <clipPath id="clip0_1_275">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </span>
    <h2 class="location" *ngIf="!isLoading">
      {{weatherMain.address}}
    </h2>
    <ngx-skeleton-loader
      *ngIf="isLoading"
      count="1"
      appearance="line"
      animation="pulse"
      [theme]="{
        'width': '258px',
        'height': '28px',
        'border-radius': '0px',
        'background': '#6E707A'
      }"
    >
    </ngx-skeleton-loader>
  </div>
</section>
<app-search-location
  *ngIf="setHandleSearch"
  (setHandleSearchEmit)="handleSearchEmit($event)"
  (setSearchedLocation)="getSearchedLocation($event)"
>
</app-search-location>
